strong {
    background-color: rgba(0, 0, 0, 0.5);
    color: #e9e7da;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    text-align: center;
}

#mainArea {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    position: relative;
    height: 100%;
    background-color: #f5f5f6;
    font-family: "Roboto";
}

.main {
    position: relative;
    width: 100%;
    font-family: "Roboto";
}

.topBarSmall {
    background-image: linear-gradient(to left bottom, #1a75fd, #ee60d9, #ff7494, #ffb75d, #fffa67);
    height: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.topBar {
    background-image: linear-gradient(to right top, #1a75fd, #ee60d9, #ff7494, #ffb75d, #fffa67);
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 50px;
    padding-left: 20px;
    position: fixed;
    z-index: 1;
    top: 20px;
}

.topBarText {
    position: relative;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: #f5f5f5;
}

.topBarIcon {
    position: relative;
    float: right;
    display: inline-block;
    right: 15px;
    margin-left: 15px;
    top: 0px;
    line-height: 50px;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f5f5f5;
}

.homeIcon {
    position: relative;
    float: left;
    display: inline-block;
    right: 15px;
    margin-left: 15px;
    top: 0px;
    line-height: 50px;
    font-size: 2.5rem;
    cursor: pointer;
    color: #f5f5f5;
}

.subjGrade {
    margin-bottom: 0;
}

.scoreValue,
.scoreTitle {
    letter-spacing: -1px;
    padding: 5px;
}

.scoreTitle {
    font-size: 1rem;
    text-align: right;
    padding-right: 10px;
}

.scoreValue {
    box-sizing: border-box;
    text-align: center;
}

.scoreCourseNum {
    letter-spacing: -1px;
    text-align: center;
}

.scoreTypeBase {
    background-color: #e9e7da;
}

.scoreL1R4,
.scoreL1R5 {
    background-color: rgb(164, 219, 255);
}

.scoreTypeA {
    background-color: rgb(154, 255, 108);
}

.scoreTypeB {
    background-color: rgb(108, 255, 235);
}

.scoreTypeC {
    background-color: rgb(223, 255, 108);
}

.scoreTypeD {
    background-color: rgb(95, 163, 219);
}

.scoreArea {
    font-size: 1.1rem;
}

.courseGroupArea {
    box-shadow: 0 0 20px -7px rgba(0, 0, 0, 0.3);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 10000px;
    overflow: hidden;
}

.courseGroupTitle {
    padding: 3px;
    text-align: center;
    font-size: 1.25rem;
    position: relative;
}

.courseGroupAreaTitle {
    text-transform: uppercase;
    font-size: 4.5rem;
    letter-spacing: -4px;
    text-align: right;
    margin-bottom: -10px;
}

.courseGroupHide {
    position: absolute;
    line-height: 34px;
    height: 34px;
    right: 0;
    top: 0;
    text-align: center;
    width: 40px;
    cursor: pointer;
    user-select: none;
}

.courseGroupHidden {
    max-height: 44px;
}

.courseGroupData {
    position: relative;
    display: block;
}

.courseGroupRow {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 6px;
    margin-bottom: 3px;
    border-bottom: 1px solid #222;
    margin-left: 0 !important;
    font-size: 1.1rem;
}

.courseGroupRowAlert {
    background-color: rgba(255, 125, 80, 1);
}

.courseGroupRowAlert>a {
    color: #222;
}

.scoreCard {
    background-color: #f5f5f6;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 0.75rem;
    border: 0px solid #222;
}

.fixedSideArea {
    position: fixed;
    height: calc(100% - 90px);
    overflow: auto !important;
    padding-bottom: 10px !important;
    padding-right: 5px;
    left: 0 !important;
}

.sideBar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 45px;
}

.sideBarTitle {
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    background-color: #0277bd;
    font-size: 1.25rem;
    margin-bottom: 3px;
    color: #f5f5f5;
    padding: 20px
}

.filterArea {
    position: relative;
    height: auto;
    max-height: 10000px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 45px
}

.filterAreaHide {
    max-height: 0px;
}

.filterAreaTitle {
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    background-color: #0277bd;
    font-size: 1.25rem;
    margin-bottom: 3px;
    color: #f5f5f5;
    padding: 20px
}

.disclaimerArea {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    color: #fff;
    font-size: 1.25rem;
    top: 0;
    pointer-events: none;
    overflow: auto;
}

.disclaimerAreaShow {
    opacity: 1;
    pointer-events: initial;
}

.conditionsArea {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    color: #fff;
    font-size: 1.25rem;
    top: 0;
    pointer-events: none;
    overflow: auto;
}

.conditionsAreaShow {
    opacity: 1;
    pointer-events: initial;
}

.excelArea {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: justify;
    padding: 10%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
    color: #fff;
    font-size: 1.25rem;
    top: 0;
    pointer-events: none;
    overflow: auto;
}

.excelAreaShow {
    opacity: 1;
    pointer-events: initial;
}

.acknowledgement {
    font-style: italic;
    font-size: 1rem;
    text-align: center;
}

.input-field>select {
    padding: 0 !important;
    height: 2rem !important;
}

.sideBar label {
    color: #222 !important;
}

.input-field>label {
    position: relative;
    font-size: 0.75rem;
    overflow: hidden;
    white-space: nowrap;
}

.select-dropdown {
    font-size: 12px !important;
}

.select2 input {
    height: 2rem !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.top-bottom {
    margin-top: 1cm;
    margin-bottom: 1cm;
}

.button {
    width: 100%;
    height: 10%;
}

.btn-wrapper {
    text-align: center;
    display: inline-block;
    width: 20%;
    height: 150%;
    margin: 10px;
}

.streamSelectionTitle {
    text-align: center;
    font-weight: bold;
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 50%;
    background-color: #0277bd;
    font-size: 1.25rem;
    margin-bottom: 3px;
    color: #f5f5f5;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.input-field.col label:hover {
    cursor: pointer;
}
